section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50vw;
    margin: 5vw auto;
}
section div {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
section ul {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    width: 30vw;
    margin: 0 auto;
}
section ul li {
    height: 10vw;
    background: green;
}
section h2 {
    text-align: center;
    margin-top: 10px;
}