
/* USO DIRETO */
body {
  font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 10vw 3vw 10vw;
    background: #F7F8FD;
}
header nav ul {
    display: flex;
    gap: 20px;
    color: #03045E;
}
header nav ul li:last-child a {
    background: #03045E;
    color: white;
    padding: 10px;
    border-radius: 6px;
}