
/* USO DIRETO */
html {
  font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 10vw 3vw 10vw;
    background: #F7F8FD;
}
header nav ul {
    display: flex;
    gap: 20px;
    color: #03045E;
}
header nav ul li:last-child a {
    background: #03045E;
    color: white;
    padding: 10px;
    border-radius: 6px;
}
header nav ul li:last-child a:hover {
    background: #44468f;
}
/* === Banner === */
section.banner {
    display: flex;
    background: #F7F8FD;
    padding: 3vw 10vw 3vw 10vw;
}
section.banner h2 {
    font-size: 2.2rem;
    color: #03045E;
    font-weight: bold;
}
section.banner div.text {
    padding: 0 5vw 0 0;
}
section.banner p {
    margin: 5vh 0 0 0;
    color: rgb(3, 4, 95, 0.5);
}
section.banner p button{
    background: #0098FF;
    padding: 3vw 4vw 3vw 4vw;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer
}
section.banner p button:hover {
    background: #71baeb;
}
/* === Services ===*/
section.services {
    text-align: center;
    background: #F7F8FD;
    margin: 6vh 0 0 0;
    padding: 3vw 10vw 7vw 10vw;
}
section.services h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #03045E;
    padding: 0vw 0 5vw 0;
}
section.services ul {
    display: flex;
    justify-content: space-between;
}
section.services ul h3 {
    font-size: 1.2rem;
    color: #03045E;
    font-weight: bold;
}
section.services ul p {
    color: rgb(3, 4, 95, 0.5);
}
/*=== Dados ===*/
section.dados ul {
    display: flex;
    justify-content: space-around;
}
section.dados {
    text-align: center;
    color: #FFFF;
    background: #0098FF;
    padding: 3vw 10vw 3vw 10vw;
}
section.dados ul h2 {
    font-weight: bold;
    font-size: 3rem;
}
/*=== Footer ===*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 7vw 10vw 3vw 10vw;
}
footer div p {
    color: rgb(3, 4, 95, 0.5);
}
footer > div:first-child p {
    width: 25vw;
}
footer > div:last-child p {
    padding: 1vw 0vw 1vw 0vw;
}
footer > div:last-child > div:last-child > p{
    display: flex;
    justify-content: space-between;
    width: 10vw;
}
footer > div:last-child img {
    width: 1.5vw;
    height: 1.5vw;
}