html {
    font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
    font-family: "Gowun Batang", serif;
}
section {
    padding: 5vw 10vw;
}
section div {
    border: solid 1px blue;
    border-radius: 10px;
    padding: 5vw 2vw;
}
section div h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 2vw 0;
}
section div label {
    font-weight: bold;
}
section div input {
    border: solid 1px grey;
    border-radius: 6px;
    width: 100%;
    margin: 2vw 0;
    padding: 2vw 2vw;
}
section div form {
    display: grid;
    padding: 2vw 5vw;
}
section div form button {
    background: rgb(52, 52, 193);
    color: white;
    border-radius: 6px;
    padding: 2vw 0;
}
section div h2 {
    background: rgb(165, 163, 163);
    text-align: center;
    padding: 3vw 2vw;
    border-radius: 6px;
    margin:  2vw 0;
    font-weight: bold;
} 