        *{
            list-style: none;
            border: 0;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        section {
            width: 30%;
            margin: 10vh auto;
            background: rgb(199, 199, 199);
            border-radius: 6px;
        }
        h2 {
            text-align: center;
            font-size:2rem;
        }
        ul{
            padding: 10px;
            border-radius: 6px;
        }
        ul li {   
            padding: 10px;
        }
        ul li h3 {
            background: rgb(137, 13, 120);
            color: white;
            /*height: 30px;*/
            display: flex;
            justify-content: space-between;
            padding: 2vw;
            border-radius: 6px;
            cursor: pointer;
        }
          ul li{
            /*height: 30px;*/
            overflow: hidden;
            transition: height 1s; 
          }
          ul li p {
            background: white;
            padding: 2vw;
          }