        *{
            list-style: none;
            border: 0;
            margin: 0;
            padding: 0;
        }
        section {
            width: 30%;
            margin: 10vh auto;
            background: rgb(199, 199, 199);
            border-radius: 6px;
        }
        h2 {
            text-align: center;
            font-size:2rem;
        }
        ul{
            padding: 10px;
            border-radius: 6px;
        }
        ul li {   
            padding: 10px;
        }
        ul li h3 {
            background: rgb(137, 13, 120);
            color: white;
            /*height: 30px;*/
            display: flex;
            justify-content: space-between;
            padding: 2vw;
            border-radius: 6px;
            cursor: pointer;
        }
          ul li{
            /*height: 30px;*/
       
          }
          ul li div {
            background: white;
            height: 0;
            overflow: hidden;
            transition: height 1s;
            box-sizing: border-box;        
          }
          div p{
            
                padding: 1vw;
          }