html {
  font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
  font-family: "Gowun Batang", serif;
}
section.news, section.results, section.what {
    padding: 2vw 10vw;
}
/*=== Header ===*/
header {
    padding: 2vw 10vw 2vw 10vw;
}
header nav ul {
    display: none;
}   
/*=== Notification ===*/
section.notification {
    background: #F6F0E4;
    text-align: center;
    padding: 2vw 3vw 2vw 3vw;
    margin: 2vw 10vw;
    border-radius: 10px;
}
section.notification p:last-child{
    padding: 1vw 0vw 0vw 0vw;
    text-decoration: underline;
}
/*=== Banner ===*/
section.banner {
    text-align: center;
    padding: 2vw 10vw;
}
section.banner h1{
    font-size: 2rem;
    margin: 3vw 0;
}
section.banner p:first-child {
    margin: 3vw 0;
}
section.banner a {
    text-decoration: underline;
}
/*=== What we do*/
section.what {
    text-align: center;
}
section.what h2 {
    font-size: 2.3rem;
    margin: 2vw 0;
}
section.what h3 {
    margin: 4vw 0;
    font-size: 1.5rem;
}
section.what h4 {
    margin: 4vw 0;
    font-size: 1rem;
    color: #3D1A0D;
}
section.what ul li {
    padding: 10vw 0;
}
section.what p {
    font-weight: bold;
}
/*===News===*/
section.news {
    text-align: center;
}
section.news h2 {
    font-size: 1.6rem;
}
section.news ul li {
    border: 1px solid #E4E4E4;
    border-radius:10px;
}
section.news ul li {
    font-size: 0.9rem;
    margin: 4vw 0vw;
    padding: 0 0 3vw 0;
}
section.news ul li h4 {
    font-size: 1rem;
    padding: 0 0 3vw 0;
}
section.news ul li h3 {
    font-size: 1.4rem;
    padding: 0 0 3vw 0;
}
section.news ul li img {
    width: 90%;
    padding: 2vw 0 3vw 0;
}
/*=== Results ===*/
section.results h2{
    font-size: 2.5rem;        
}
section.results h3 {
    margin: 2vw 0;
    font-size: 1rem;
    color: #3D1A0D;
}
section.results ul li {
    border-left: 1px solid grey;
    padding: 0 0 2vw 2vw;
    margin: 2vw 0 2vw 0;
}
/*=== Join ===*/
section.join {
    background: url(../images/Call\ to\ action\ section.png) no-repeat;
    background-size: 100% auto;
    padding: 4vw 10vw;
}
section.join h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    background: rgba(0, 0,0 , 0.3);
}
section.join h2 a {
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
	header nav > a {
        display: none;
    }
    header nav ul {
        display: flex;
        gap: 20px;
    }
    section.news ul {
        display: flex;
        justify-content: space-between;
    }
    section.news ul li {
        width: 30%;
        font-size: 0.7rem;
        padding: 0 0 0.5vw 0;
    }
    section.what ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section.what ul li {
        width: 30%;
        padding: 0 2vw 0 2vw;
    }
}